/.vscode
/bwtbvhrstvdh.pdf
/cstpnrbkhndn.pdf
/dhmkrwtksdgy.pdf
/logic_building.py
/main.py
/storage.json
/VID-20260301-WA0024_1.mp4
/WhatsApp Image 2026-03-15 at 12.25.33 AM (1).jpeg
/WhatsApp Image 2026-03-15 at 12.25.33 AM.jpeg